$tablet-width: 768px;
$desktop-width: 992px;
$lg-desktop-width: 1160px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin md-desktop {
  @media (min-width: #{$lg-desktop-width}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}