@import 'mixins';

.week {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;

  @include phone {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  @include tablet {
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  @include desktop {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}

.day {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  border: 2px solid black;
  border-radius: 5px;
  margin: 2px;

  @include phone {
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-grow: 0;
    flex-basis: auto;
  }

  .day-header {
    border-bottom: 1px solid black;
    font-weight: 600;
    padding: 5px;
    background-color: lightgray;
  }

  .day-body {
    padding: 5px;
  }

  .day-buttons {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-flex-direction: row;
    flex-direction: row;
  }

  .fa, .glyphicon {
    margin-left: 5px;
  }
}