.menu {
  display: -webkit-flex;
  display: flex; }
  @media (max-width: 768px) {
    .menu {
      -webkit-flex-direction: column;
      flex-direction: column; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .menu {
      -webkit-flex-direction: row;
      flex-direction: row; } }
  @media (min-width: 1024px) {
    .menu {
      -webkit-flex-direction: row;
      flex-direction: row; } }


.header .active {
  font-weight: 700; }

.week {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .week {
      -webkit-flex-direction: column;
      flex-direction: column; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .week {
      -webkit-flex-direction: row;
      flex-direction: row; } }
  @media (min-width: 1024px) {
    .week {
      -webkit-flex-direction: row;
      flex-direction: row; } }

.day {
  border: 1px solid black;
  flex-grow: 1;
  flex-basis: 0; }

.day-header {
  padding: 5px;
  font-weight: 600;
  border-bottom: 1px solid black; }

.day-body {
  padding: 5px; }
