.menu {
  display: -webkit-flex;
  display: flex; }
  @media (max-width: 768px) {
    .menu {
      -webkit-flex-direction: column;
      flex-direction: column; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .menu {
      -webkit-flex-direction: row;
      flex-direction: row; } }
  @media (min-width: 1024px) {
    .menu {
      -webkit-flex-direction: row;
      flex-direction: row; } }


.header .active {
  font-weight: 700; }

.week {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .week {
      -webkit-flex-direction: column;
      flex-direction: column; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .week {
      -webkit-flex-direction: row;
      flex-direction: row; } }
  @media (min-width: 1024px) {
    .week {
      -webkit-flex-direction: row;
      flex-direction: row; } }

.day {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  border: 2px solid black;
  border-radius: 5px;
  margin: 2px; }
  @media (max-width: 768px) {
    .day {
      -webkit-flex-direction: column;
      flex-direction: column;
      flex-grow: 0;
      flex-basis: auto; } }
  .day .day-header {
    border-bottom: 1px solid black;
    font-weight: 600;
    padding: 5px;
    background-color: lightgray; }
  .day .day-body {
    padding: 5px;
    align-items: center; }
  .day .day-buttons {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column; }
    .day .day-buttons .btn {
      width: 80%; }
  .day .fa, .day .glyphicon {
    margin-left: 5px; }
