.menu {
  display: -webkit-flex;
  display: flex; }
  @media (max-width: 768px) {
    .menu {
      -webkit-flex-direction: column;
      flex-direction: column; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .menu {
      -webkit-flex-direction: row;
      flex-direction: row; } }
  @media (min-width: 992px) {
    .menu {
      -webkit-flex-direction: row;
      flex-direction: row; } }


a {
  text-decoration: none !important; }

.header .active {
  font-weight: 700; }


.week {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: fadein 0.85s ease-out; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1.0; } }

.week-nav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 7px; }

.week-nav-day {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  border: 1px solid green;
  background-color: white;
  width: 41px;
  margin-right: 1px;
  margin-left: 1px; }

.week-nav-link-container {
  width: 39px;
  padding-right: 10px;
  padding-left: 10px; }
  .week-nav-link-container.selected {
    background-color: lightblue; }

.preview-status-button-container {
  display: -webkit-flex;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-flex-direction: column;
  flex-direction: column; }

.preview-status-buttons {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-bottom: 2px; }
  .preview-status-buttons .yes {
    background-color: #5cb85c; }
  .preview-status-buttons .no {
    background-color: #d9534f; }
  .preview-status-buttons .close {
    background-color: #f0ad4e; }
  .preview-status-buttons .fa-bicycle {
    padding-left: 0;
    padding-right: 1px; }

.preview-status-button-eat {
  width: 19px;
  height: 19px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  margin-top: -2px; }

.preview-status-button-fit {
  width: 19px;
  height: 19px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  margin-top: -2px; }

.panel-heading h3 {
  margin-top: 0;
  margin-bottom: 0; }

.day {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  border: 2px solid black;
  border-radius: 5px;
  margin: 2px;
  margin-top: 54px; }
  @media (max-width: 768px) {
    .day {
      -webkit-flex-direction: column;
      flex-direction: column;
      flex-grow: 0;
      flex-basis: auto; } }
  .day .day-header {
    border-bottom: 1px solid black;
    font-weight: 600;
    padding: 5px;
    background-color: lightgray;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .day .day-body {
    padding: 5px;
    align-items: center; }
    .day .day-body .form-group {
      margin-left: 5px;
      margin-right: 5px; }
    .day .day-body hr {
      margin-top: 65px;
      margin-bottom: 0px; }
    .day .day-body .btn {
      padding: 6px 8px; }
  .day .day-buttons {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column; }
    .day .day-buttons .btn {
      width: 80%; }
  .day .fa, .day .glyphicon {
    margin-left: 5px; }
  .day .input-group {
    padding: 2px 4px; }
    .day .input-group .form-control {
      padding: 2px 4px; }
      @media (min-width: 768px) and (max-width: 991px) {
        .day .input-group .form-control {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px; } }
      @media (min-width: 992px) {
        .day .input-group .form-control {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px; } }
      @media (min-width: 1160px) {
        .day .input-group .form-control {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px; } }
    .day .input-group .input-group-addon {
      padding: 2px 4px; }
      @media (min-width: 768px) and (max-width: 991px) {
        .day .input-group .input-group-addon {
          display: none; } }
      @media (min-width: 992px) {
        .day .input-group .input-group-addon {
          display: none; } }
      @media (min-width: 1160px) {
        .day .input-group .input-group-addon {
          display: table-cell; } }
